In [19]:
import pandas as pd
import numpy as np
import matplotlib
import requests
import json

In [8]:
barriers_df = pd.read_csv(r"C:\Users\hitst\Documents\GitHub\covid-healthequity\covid19_project\Resources\CVAC_data_Feb2021.csv")
barriers_df.head()

,FIPS,State,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
0,1,Alabama,0.36,0.88,0.52,0.96,0.80,0.78
1,2,Alaska,0.98,0.16,0.14,0.98,0.96,0.70
2,4,Arizona,0.92,0.52,0.96,0.38,0.92,0.88
3,5,Arkansas,0.34,0.96,0.74,0.88,0.78,0.88
4,6,California,0.80,0.44,0.80,0.08,0.96,0.68

In [13]:
deaths_vaccstatus_df = pd.read_csv(r"C:\Users\hitst\Documents\GitHub\covid-healthequity\covid19_project\Resources\cases_and_deaths_by_vaccination_status.csv")
deaths_vaccstatus_df.head()

,outcome,month,mmwr_week,week_date,age_group,vaccine_product,crude_vax_ir,crude_unvax_ir,crude_irr
0,case,04 - APR,14,Apr 04-Apr 10,12-17,all_types,14.021312,231.534316,16.513027
1,case,04 - APR,14,Apr 04-Apr 10,18-29,all_types,33.231686,274.515844,8.260666
2,case,04 - APR,14,Apr 04-Apr 10,30-49,all_types,30.460406,250.979057,8.239518
3,case,04 - APR,14,Apr 04-Apr 10,50-64,all_types,26.446469,192.311420,7.271724
4,case,04 - APR,14,Apr 04-Apr 10,65-79,all_types,13.722635,159.418827,11.617217

In [20]:
hospitilizations_df = pd.read_csv(r"C:\Users\hitst\Documents\GitHub\covid-healthequity\covid19_project\Resources\associated_hospitalizations_by_vaccine_status_in_adults_january-august_2021.csv")
hospitilizations_df.head()

In [17]:
# COVID19 Case Surveillance

covid19_surv_url = "https://data.cdc.gov/resource/n8mc-b4w4.json"
response1 = requests.get(covid19_surv_url)
response1

In [18]:
# Vaccination and Case Trends by Age

covid19_vacc_trends_url = "https://data.cdc.gov/resource/gxj9-t96f.json"
response2 = requests.get(covid19_vacc_trends_url)
response2